@import range-input-mixin

/*
Topcoat range input
-------------------------

	<input type='range' class='topcoat-range-input'>

*/

.topcoat-range-input
	range-input-base()
	border var-border
	background var-background
	height var-height
	margin var-margin
	border-radius var-border-radius
	-webkit-appearance none !important

.topcoat-range-input::-webkit-slider-thumb
	height var-slider-height
	width var-slider-width
	border var-slider-border
	border-radius var-slider-radius
	background var-slider-background
	background-size var-slider-bg-size
	box-shadow var-slider-box-shadow
	cursor pointer
	-webkit-appearance: none !important;

