@font-face {
  font-family: "Source Sans Pro";
  src: url('../font/SourceSansPro-Regular.otf');
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('../font/SourceSansPro-Light.otf');
  font-weight: 200;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('../font/SourceSansPro-Semibold.otf');
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  background: hsla(200, 2%, 30%, 1);
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.topcoat-range {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

.topcoat-range {
  vertical-align: top;
  outline: none;
}

.topcoat-range {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
}

.topcoat-range:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.topcoat-range {
  -webkit-appearance: none;
}

.topcoat-range::-ms-thumb {
  cursor: pointer;
}

.topcoat-range::-moz-range-thumb {
  cursor: pointer;
}

.topcoat-range::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
}

/* topdoc
  name: Range
  description: Range input
  modifiers:
    :active: Active state
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup:
    <input type="range" class="topcoat-range">
    <input type="range" class="topcoat-range" disabled>
  examples:
    mobile range: http://codepen.io/Topcoat/pen/BskEn
  tags:
    - desktop
    - mobile
    - range
*/

.topcoat-range {
  border-radius: 4px;
  border: 1px solid hsla(180, 1%, 20%, 1);
  background-color: hsla(180, 1%, 27%, 1);
  height: 0.5rem;
  border-radius: 15px;
}

.topcoat-range::-moz-range-track {
  border-radius: 4px;
  border: 1px solid hsla(180, 1%, 20%, 1);
  background-color: hsla(180, 1%, 27%, 1);
  height: 0.5rem;
  border-radius: 15px;
}

.topcoat-range::-webkit-slider-thumb {
  height: 1.313rem;
  width: 0.75rem;
  background-color: hsla(180, 1%, 35%, 1);
  border: 1px solid hsla(180, 1%, 20%, 1);
  border-radius: 4px;
  box-shadow: inset 0 1px hsla(0, 0%, 45%, 1);
}

.topcoat-range::-moz-range-thumb {
  height: 1.313rem;
  width: 0.75rem;
  background-color: hsla(180, 1%, 35%, 1);
  border: 1px solid hsla(180, 1%, 20%, 1);
  border-radius: 4px;
  box-shadow: inset 0 1px hsla(0, 0%, 45%, 1);
}

.topcoat-range::-ms-thumb {
  height: 1.313rem;
  width: 0.75rem;
  background-color: hsla(180, 1%, 35%, 1);
  border: 1px solid hsla(180, 1%, 20%, 1);
  border-radius: 4px;
  box-shadow: inset 0 1px hsla(0, 0%, 45%, 1);
}

.topcoat-range::-ms-tooltip,
.topcoat-range::-ms-fill-lower {
  display: none;
}

.topcoat-range:focus::-webkit-slider-thumb {
  border: 1px solid hsla(227, 100%, 50%, 1);
  box-shadow: inset 0 1px hsla(0, 100%, 100%, 0.36), 0 0 0 2px hsla(208, 82%, 69%, 1);
}

.topcoat-range:focus::-moz-range-thumb {
  border: 1px solid hsla(227, 100%, 50%, 1);
  box-shadow: inset 0 1px hsla(0, 100%, 100%, 0.36), 0 0 0 2px hsla(208, 82%, 69%, 1);
}

.topcoat-range:active::-webkit-slider-thumb {
  border: 1px solid hsla(180, 1%, 20%, 1);
  box-shadow: inset 0 1px hsla(0, 0%, 45%, 1);
}

.topcoat-range:active::-moz-range-thumb {
  border: 1px solid hsla(180, 1%, 20%, 1);
  box-shadow: inset 0 1px hsla(0, 0%, 45%, 1);
}

input[type=range]:active::-ms-thumb {
  border: 1px solid hsla(180, 1%, 20%, 1);
  box-shadow: inset 0 1px hsla(0, 0%, 45%, 1);
}